
@use 'variables' as v;

@mixin respond($breakpoint) {

    // @if $breakpoint == sm {
    //     @media (max-width: 576px) { @content; }
    // }
    @if $breakpoint==md {
        @media (max-width: 768px) {
            @content;
        }
    }
}

@mixin bg-layer-fixed-dark {
  content: '';
  position: fixed;
  inset: 0;
  background-color:v.$color-blue-dark;
  z-index: -1;
  pointer-events: none;
}



// @else if $breakpoint == lg {
//     @media (max-width: 1024px) { @content; }
// }
