@use 'variables' as v;

//RWD
@mixin respond($breakpoint) {
    @if $breakpoint==md {
        @media (max-width: 768px) {
            @content;
        }
    }
}

//背景色
@mixin bg-layer-fixed-dark {
    content: '';
    position: fixed;
    inset: 0;
    background-color: v.$color-blue-dark;
    z-index: -1;
    pointer-events: none;
}