@use './variables' as *;
@use './mixins' as *;

body {
    font-family: $font-sans;
    font-size: $p-desktop;
    line-height: $line-height-relaxed;
    @include respond(md) {
        font-size: $p-mobile;
    }
}

h1 {
    font-family: $font-serif-tc;
    font-size: $h1-desktop;
    font-weight: $font-bold;
    letter-spacing: $letter-spacing-wide;
    line-height: $line-height-normal;

    @include respond(md) {
        font-size: $h1-mobile;
    }
}

h2 {
    font-family: $font-serif-tc;
    font-size: $h2-desktop;
    font-weight: $font-bold;
    letter-spacing: $letter-spacing-wide;
    line-height: $line-height-normal;

    @include respond(md) {
        font-size: $h2-mobile;
    }
}

h3 {
    font-family: $font-sans;
    font-size: $h3-desktop;
    letter-spacing:$letter-spacing-base; 

    @include respond(md) {
        font-size: $h3-mobile;
    }
}


p {
    font-family: $font-sans;
    font-size: $p-desktop;
    letter-spacing: $letter-spacing-normal;
    line-height: $line-height-relaxed;

    @include respond(md) {
        font-size: $p-mobile;
    }
}

.sub-text {
    font-size: $sub-desktop;
    color: $color-text-sub;

    @include respond(md) {
        font-size: $sub-mobile;
    }
}